# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Environment variables
.env
*.env

# Django-specific
db.sqlite3
/media/
staticfiles/

# Virtual environment
.venv/
venv/
ENV/

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# PyCharm
*.iml
*.ipr
*.iws

# MySQL (if you accidentally export dumps)
*.sql
